{% extends 'base.html' %}


{% block body %}

	<!-- Main layout -->
  <main>
    <div class="container-fluid">
    
          <section class="section">
          
          
          <!-- Vertical Steppers -->
				<div class="row mt-5">
				  <div class="col-md-12">
				
                    <h4><strong>Affaire xxxx du yy/yy/yyyy</strong></h4>
                    <hr>
                    
				    <!-- Stepers Wrapper -->
				    <div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
				      <div class="card">
				      
						    <ul class="stepper stepper-vertical">
						
								      <!-- First Step -->
								      <li class="completed">
								      	<div class="card-header lighten-3 z-depth-1 w-100" role="tab" id="heading96">
									        <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true" aria-controls="collapse96">
									          <span class="circle">1</span>
									          <span class="label">Derniére mise à jour de cette affaire  | <small>dd-mm-yyyy</small> </span>
									        </a>
								        </div>
								        
								        <!-- Section Description -->
								        <div id="collapse96" class="px-4 mx-2 collapse show" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx23">
									      <div class="card-body">
									        <div class="row my-4">
									          <div class="col-md-8">
									            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
									            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									              ullamco laboris</p>
									            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
									              fugiat nulla pariatur.</p>
									          </div>
									          <div class="col-md-4 mt-3 pt-2">
									            <div class="view z-depth-1">
									              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
									            </div>
									          </div>
									        </div>
								        	<hr>
								        	<small>dd/mm/yyyy</small><br/> 
								        	<small>Alioune Traoré</small><br/>
								        	<small><a href="#">Source</a></small>
									      </div>
									    </div>
								      </li>
								
								      <!-- Second Step -->
								      <li class="completed">
								      	<div class="card-header lighten-3 z-depth-1 w-100" role="tab" id="heading97">
									        <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse97" aria-expanded="false" aria-controls="collapse97">
									          <span class="circle">2</span>
									          <span class="label">Avant derniére mise à jour de cette affaire  | <small>dd-mm-yyyy</small> </span>
									        </a>
								        </div>
								        
								        <!-- Section Description -->
								        <div id="collapse97" class="px-4 mx-2 collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx23">
									      <div class="card-body">
									        <div class="row my-4">
									          <div class="col-md-8">
									            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
									            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									              ullamco laboris</p>
									            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
									              fugiat nulla pariatur.</p>
									          </div>
									          <div class="col-md-4 mt-3 pt-2">
									            <div class="view z-depth-1">
									              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
									            </div>
									          </div>
									        </div>
								        	<hr>
								        	<small>dd/mm/yyyy</small><br/> 
								        	<small>Alioune Traoré</small><br/>
								        	<small><a href="#">Source</a></small>
									      </div>
									    </div>
								      </li>
								
								      <!-- Third Step -->
								      <li class="completed">
								      	<div class="card-header lighten-3 z-depth-1 w-100" role="tab" id="heading98">
									        <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse98" aria-expanded="false" aria-controls="collapse98">
									          <span class="circle">3</span>
									          <span class="label">Mise à jour antérieur  | <small>dd-mm-yyyy</small> </span>
									        </a>
								        </div>
								        
								        <!-- Section Description -->
								        <div id="collapse98" class="px-4 mx-2 collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx23">
									      <div class="card-body">
									        <div class="row my-4">
									          <div class="col-md-8">
									            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
									            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									              ullamco laboris</p>
									            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
									              fugiat nulla pariatur.</p>
									          </div>
									          <div class="col-md-4 mt-3 pt-2">
									            <div class="view z-depth-1">
									              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
									            </div>
									          </div>
									        </div>
								        	<hr>
								        	<small>dd/mm/yyyy</small><br/> 
								        	<small>Alioune Traoré</small><br/>
								        	<small><a href="#">Source</a></small>
									      </div>
									    </div>
								      </li>
								
								      <!-- Fourth Step -->
								      <li class="completed">
								      	<div class="card-header lighten-3 z-depth-1 w-100" role="tab" id="heading99">
									        <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse99" aria-expanded="false" aria-controls="collapse99">
									          <span class="circle">4</span>
									          <span class="label">Début de cette affaire  | <small>dd-mm-yyyy</small> </span>
									        </a>
								        </div>
								        
								        <!-- Section Description -->
								        <div id="collapse99" class="px-4 mx-2 collapse" role="tabpanel" aria-labelledby="heading99" data-parent="#accordionEx23">
									      <div class="card-body">
									        <div class="row my-4">
									          <div class="col-md-8">
									            <h2 class="font-weight-bold mb-3 black-text">Hi! I am the first one.</h2>
									            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									              ullamco laboris</p>
									            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
									              fugiat nulla pariatur.</p>
									          </div>
									          <div class="col-md-4 mt-3 pt-2">
									            <div class="view z-depth-1">
									              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
									            </div>
									          </div>
									        </div>
								        	<hr>
								        	<small>dd/mm/yyyy</small><br/> 
								        	<small>Alioune Traoré</small><br/>
								        	<small><a href="#">Source</a></small>
									      </div>
									    </div>
								      </li>
						
						    </ul>
						    
						  </div>  
						</div>
				    <!-- /.Stepers Wrapper -->
				
				  </div>
				</div>
				
				<!-- Steppers Navigation -->
				<div class="row mt-1">
				  <div class="col-md-12 text-right">
				    <a type="button" href="/" class="btn btn-flat btn-sm">Accueil</a>
				    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalCart">S'abonner sur cette affaire</button>
				  </div>
				</div>
		<!-- /.Vertical Steppers -->
          
          </section>
          
          <section class="section">
          	<!-- Button trigger modal-->
				
				<!-- Modal: modalCart -->
				<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				  aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <!--Header-->
				      <div class="modal-header">
				        <h4 class="modal-title" id="myModalLabel">Newsletter</h4>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">×</span>
				        </button>
				      </div>
				      <!--Body-->
				      <div class="modal-body">
							<div class="md-form">
							  <input type="text" id="form1" class="form-control">
							  <label for="form1">Adresse email</label>
							</div>	
				      </div>
				      <!--Footer-->
				      <div class="modal-footer">
				        <button class="btn btn-success">Valider</button>
				      </div>
				    </div>
				  </div>
				</div>
			<!-- Modal: modalCart -->
          </section>
          
          <section class="section">
				<div class="row mt-5">
				  <div class="col-md-12">
				
                    <h4><strong>Affaire liée à celle là</strong></h4>
                    <hr>
                    
                   </div>
                 </div>
          		
          </section>
          
          <br/>
          <section class="section">
				<div class="row mt-5">
				  <div class="col-md-12">
				
                    <small class="text-danger">Les commentaires sont mémentanément désactivés, veuillez nous excuser !</small>
                    <hr>
                    
                   </div>
                 </div>
          </section>
   </div>
</main>

{% endblock %}