{% extends 'base.html' %}
{% load static %}

{% block body %}

	<!-- Main layout -->
  <main>
    <div class="container-fluid">

          <!--Section: Magazine posts-->
          <section class="section extra-margins listing-section mt-2">

            <h4 class="font-weight-bold"><strong>DERNIERES NOUVELLES</strong></h4>
            <hr class="red title-hr">

            <!--Carousel Wrapper-->
            <div id="carousel-example-2" class="carousel slide carousel-fade my-4 z-depth-1" data-ride="carousel">
              <!--Indicators-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
              </ol>
              <!--/.Indicators-->
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="view" style="height: 400px;">
                    <img class="d-block h-100 w-100 rounded" src="{% static 'img/felix.jpg' %}" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Felix</h3>
                    <p>Amnesty reproche à Tshisekedi de ne pas faire avancer la justice en RDC</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!--Mask color-->
                  <div class="view">
                    <img class="d-block w-100 rounded" src="https://mdbootstrap.com/img/Photos/Slides/img%20(112).jpg"
                      alt="Second slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Title of the news</h3>
                    <p>Secondary text</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!--Mask color-->
                  <div class="view rgba-black-slight">
                    <img class="d-block w-100 rounded" src="https://mdbootstrap.com/img/Photos/Slides/img%20(79).jpg"
                      alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Title of the news</h3>
                    <p>Third text</p>
                  </div>
                </div>
              </div>
              <!--/.Slides-->
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->

            <h4 class="font-weight-bold mt-5"><strong>SPORT</strong></h4>
            <hr class="red title-hr">

            <!--Carousel Wrapper-->
            <div id="carousel-example-3" class="carousel slide carousel-fade my-4 z-depth-1" data-ride="carousel">
              <!--Indicators-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-3" data-slide-to="1"></li>
                <li data-target="#carousel-example-3" data-slide-to="2"></li>
              </ol>
              <!--/.Indicators-->
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(81).jpg" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Title of the news</h3>
                    <p>First text</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!--Mask color-->
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(80).jpg" alt="Second slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Title of the news</h3>
                    <p>Secondary text</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!--Mask color-->
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(39).jpg" alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Title of the news</h3>
                    <p>Third text</p>
                  </div>
                </div>
              </div>
              <!--/.Slides-->
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->

            <!--Grid row-->
            <div class="row mb-4">

              <!--Grid column-->
              <div class="col-md-4 my-3">
                <!--Card-->
                <div class="card">

                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Sport/6-col/img%20(1).jpg" class="card-img-top"
                      alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/.Card image-->

                  <!--Card content-->
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk
                      of the card's
                      content.
                    </p>
                    <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
                      27/08/2017</p>
                    <p class="font-small grey-text mb-0">Anna Smith</p>
                    <p class="text-right mb-0 font-small font-weight-bold"><a>read more <i class="fas fa-angle-right"></i></a></p>
                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 text-left mt-3">

                <!--Card-->
                <div class="card">

                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Sport/6-col/img%20(2).jpg" class="card-img-top"
                      alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/.Card image-->

                  <!--Card content-->
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk
                      of the card's
                      content.
                    </p>
                    <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
                      27/08/2017</p>
                    <p class="font-small grey-text mb-0">Anna Smith</p>
                    <p class="text-right mb-0 font-small font-weight-bold"><a>read more <i class="fas fa-angle-right"></i></a></p>
                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 text-left mt-3">

                <!--Card-->
                <div class="card">

                  <!--Card image-->
                    <a href="{% url 'news:followCase' case_id=1 %}">
		                  <div class="view overlay">
		                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Sport/6-col/img%20(3).jpg" 
		                      class="card-img-top"
		                      alt="Sample image">
		                      <div class="mask rgba-white-slight"></div>
		                  </div>
		                  <!--/.Card image-->
		
		                  <!--Card content-->
		                  <div class="card-body">
		                    <!--Title-->
		                    <h4 class="card-title text-dark"><strong>Card Test</strong></h4>
		                    <hr>
		                    <!--Text-->
		                    <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk
		                      of the card's
		                      content.
		                    </p>
		                    <p class="font-small font-weight-bold text-dark mb-1"><i class="fa fa-clock-o"></i>
		                      27/08/2017</p>
		                    <p class="font-small grey-text mb-0">Anna Smith</p>
		                    <p class="text-right mb-0 font-small font-weight-bold"><a>Suivre... <i class="fas fa-angle-right"></i></a></p>
		                  </div>
                    </a>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->
              </div>
              <!--Grid column-->

            </div>
            <!--/Grid row-->

            <h4 class="font-weight-bold mt-5"><strong>SANTE</strong></h4>
            <hr class="red title-hr">

            <!--Carousel Wrapper-->
            <div id="carousel-example-3" class="carousel slide carousel-fade my-4 z-depth-1" data-ride="carousel">
              <!--Indicators-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-3" data-slide-to="1"></li>
                <li data-target="#carousel-example-3" data-slide-to="2"></li>
              </ol>
              <!--/.Indicators-->
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(81).jpg" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Title of the news</h3>
                    <p>First text</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!--Mask color-->
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(80).jpg" alt="Second slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Title of the news</h3>
                    <p>Secondary text</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!--Mask color-->
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(39).jpg" alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive font-weight-bold">Title of the news</h3>
                    <p>Third text</p>
                  </div>
                </div>
              </div>
              <!--/.Slides-->
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->

            <!--Grid row-->
            <div class="row mb-4">

              <!--Grid column-->
              <div class="col-md-4 my-3">
                <!--Card-->
                <div class="card">

                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Sport/6-col/img%20(1).jpg" class="card-img-top"
                      alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/.Card image-->

                  <!--Card content-->
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk
                      of the card's
                      content.
                    </p>
                    <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
                      27/08/2017</p>
                    <p class="font-small grey-text mb-0">Anna Smith</p>
                    <p class="text-right mb-0 font-small font-weight-bold"><a>read more <i class="fas fa-angle-right"></i></a></p>
                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 text-left mt-3">

                <!--Card-->
                <div class="card">

                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Sport/6-col/img%20(2).jpg" class="card-img-top"
                      alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/.Card image-->

                  <!--Card content-->
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk
                      of the card's
                      content.
                    </p>
                    <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
                      27/08/2017</p>
                    <p class="font-small grey-text mb-0">Anna Smith</p>
                    <p class="text-right mb-0 font-small font-weight-bold"><a>read more <i class="fas fa-angle-right"></i></a></p>
                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 text-left mt-3">

                <!--Card-->
                <div class="card">

                  <!--Card image-->
                    <a href="{% url 'news:followCase' case_id=1 %}">
		                  <div class="view overlay">
		                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Sport/6-col/img%20(3).jpg" 
		                      class="card-img-top"
		                      alt="Sample image">
		                      <div class="mask rgba-white-slight"></div>
		                  </div>
		                  <!--/.Card image-->
		
		                  <!--Card content-->
		                  <div class="card-body">
		                    <!--Title-->
		                    <h4 class="card-title text-dark"><strong>Card Test</strong></h4>
		                    <hr>
		                    <!--Text-->
		                    <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk
		                      of the card's
		                      content.
		                    </p>
		                    <p class="font-small font-weight-bold text-dark mb-1"><i class="fa fa-clock-o"></i>
		                      27/08/2017</p>
		                    <p class="font-small grey-text mb-0">Anna Smith</p>
		                    <p class="text-right mb-0 font-small font-weight-bold"><a>Suivre... <i class="fas fa-angle-right"></i></a></p>
		                  </div>
                    </a>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->
              </div>
              <!--Grid column-->

            </div>
            <!--/Grid row-->

          </section>

    </div>
  </main>
  <!--/ Main layout -->

{% endblock %}