{% block navbar %}
	
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
		      <!-- Navbar brand -->
		      	 <h2 class="font-weight-bold">
				      <a class="navbar-brand" href="/">
				         <strong>Next<span class="text-danger">News</span></strong>
				      </a>
		         </h2>
		
		      <!-- Collapse button -->
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		
		      <!-- Collapsible content -->
		      <div class="collapse navbar-collapse" id="navbarSupportedContent">
				Suivez toute l'actualité du Sénégal par affaire ou sujet !
		
		        <!-- Search form -->
		        <form class="form-inline">
		          <div class="md-form my-0">
		            <input class="form-control mr-sm-2" type="text" placeholder="Recherche..." aria-label="Search">
		          </div>
		        </form>
		      </div>
		      <!-- Collapsible content -->
	  </div>
    </nav>
    <!--/.Navbar-->
	
{% endblock %}